body{
	margin: 0 auto;
	background-image:url("../images/signup.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
}

.container{
	width: 450px;
	height: 550px;
	text-align: center;
	margin:0 auto;
	background-color: white;
	border-radius: 04px;
	margin:0 auto;
	margin-top:60px;
	background:rgba(0,0,0,0.8)	
}

h1,h2{
	color:white;
}